<a href="https://colab.research.google.com/github/lakshuguru/-DATA-Ground-/blob/main/flipkart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df=pd.read_csv("/content/Flipkart.csv")
df

       Brand      Model            Color  ... Rating Selling Price  Original Price
0       OPPO        A53  Moonlight Black  ...    4.5       11990.0         15990.0
1       OPPO        A53       Mint Cream  ...    4.5       11990.0         15990.0
2       OPPO        A53  Moonlight Black  ...    4.3       13990.0         17990.0
3       OPPO        A53       Mint Cream  ...    4.3       13990.0         17990.0
4       OPPO        A53   Electric Black  ...    4.5       11990.0         15990.0
...      ...        ...              ...  ...    ...           ...             ...
2642  Xiaomi  Redmi Y3          Bold Red  ...    4.3       12999.0         13999.0
2643  Xiaomi  Redmi Y3      Elegant Blue  ...    4.3        9450.0             NaN
2644  Xiaomi  Redmi Y3      Elegant Blue  ...    4.2       12999.0             NaN
2645  Xiaomi  Redmi Y3       Prime Black  ...    4.2        9950.0             NaN
2646  Xiaomi  Redmi Y3       Prime Black  ...    4.3       12499.0         13999.0

[2647 rows x 8 columns]

In [ ]:
df.shape

(2647, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2647 entries, 0 to 2646
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           2647 non-null   object
 1   Model           2645 non-null   object
 2   Color           2505 non-null   object
 3   Memory          2605 non-null   object
 4   Storage         2568 non-null   object
 5   Rating          2647 non-null   float64
 6   Selling Price   2644 non-null   float64
 7   Original Price  969 non-null    float64
dtypes: float64(3), object(5)
memory usage: 165.6+ KB

In [ ]:
df.describe()

            Rating  Selling Price  Original Price
count  2647.000000    2644.000000      969.000000
mean      4.001700   26461.362330    29852.605779
std       0.997499   29833.135164    27659.141051
min       0.000000    1000.000000     1599.000000
25%       4.000000    9490.000000    12999.000000
50%       4.300000   14999.000000    18999.000000
75%       4.400000   29998.250000    34999.000000
max       5.000000  179900.000000   189999.000000

In [ ]:
#to know the column names
df.columns

Index(['Brand', 'Model', 'Color', 'Memory', 'Storage', 'Rating',
       'Selling Price', 'Original Price'],
      dtype='object')

In [ ]:
#to find the number of null values
df.isnull().sum()

Brand                0
Model                2
Color              142
Memory              42
Storage             79
Rating               0
Selling Price        3
Original Price    1678
dtype: int64

In [ ]:
#clearing null values of model column

#to view the rows of nan values of model column
df[df['Model'].isnull()]

#to find the max sold model of Google pixel
a=df[df['Brand']=='Google Pixel']
a.describe(include='object')
#df['Model'].replace(to_replace=0,value='A53')

#to fill 
df['Model'] = df['Model'].fillna('3 XL')

#checking whether the model name is replaces with the max sold model
df[df['Model']=='3 XL']

            Brand Model        Color  ... Rating Selling Price  Original Price
274  Google Pixel  3 XL  Quite Black  ...    4.4       66000.0             NaN
275  Google Pixel  3 XL  Very Silver  ...    4.4       57000.0             NaN

[2 rows x 8 columns]

In [ ]:

df[df['Model'].isnull()]

            Brand Model        Color  ... Rating Selling Price  Original Price
274  Google Pixel   NaN  Quite Black  ...    4.4       66000.0             NaN
275  Google Pixel   NaN  Very Silver  ...    4.4       57000.0             NaN

[2 rows x 8 columns]

In [ ]:

df[df['Brand']=='Google Pixel']

            Brand      Model  ... Selling Price Original Price
254  Google Pixel        4a   ...       31999.0            NaN
255  Google Pixel     3a XL   ...       44999.0            NaN
256  Google Pixel          3  ...       69999.0            NaN
257  Google Pixel     3a XL   ...       44999.0            NaN
258  Google Pixel          3  ...       71000.0            NaN
259  Google Pixel          3  ...       71000.0            NaN
260  Google Pixel          3  ...       80000.0            NaN
261  Google Pixel      3 XL   ...       83000.0            NaN
262  Google Pixel      3 XL   ...       83000.0            NaN
263  Google Pixel      3 XL   ...       92000.0            NaN
264  Google Pixel          3  ...       80000.0            NaN
265  Google Pixel          3  ...       80000.0            NaN
266  Google Pixel      3 XL   ...       92000.0            NaN
267  Google Pixel      3 XL   ...       83000.0            NaN
268  Google Pixel        3a   ...       39999.0            NaN
269  Google Pixel        XL   ...       76000.0            NaN
270  Google Pixel      2 XL   ...       82000.0            NaN
271  Google Pixel          2  ...       61000.0            NaN
272  Google Pixel      3 XL   ...       92000.0            NaN
273  Google Pixel          2  ...       70000.0            NaN
274  Google Pixel        NaN  ...       66000.0            NaN
275  Google Pixel        NaN  ...       57000.0            NaN
276  Google Pixel          2  ...       70000.0            NaN
277  Google Pixel        3a   ...       39999.0            NaN
311  Google Pixel  Nexus 5X   ...       25990.0            NaN
344  Google Pixel  Nexus 5X   ...       29990.0            NaN
345  Google Pixel  Nexus 5X   ...       25990.0            NaN
355  Google Pixel  Nexus 5X   ...       25400.0            NaN
366  Google Pixel  Nexus 5X   ...       12000.0        29990.0

[29 rows x 8 columns]

In [ ]:
df[df['Selling Price'].isnull()]

     Brand            Model  ... Selling Price Original Price
128   OPPO              A16  ...           NaN            NaN
420   ASUS  Zenfone Go 5.0   ...           NaN            NaN
2426  vivo            Y20G   ...           NaN            NaN

[3 rows x 8 columns]

In [ ]:
# the cosidered model isn't accepted to return the df     --->> doubt
df[(df['Brand']=='ASUS')&(df['Model']=='Zenfone Go 5.0')]

Empty DataFrame
Columns: [Brand, Model, Color, Memory, Storage, Rating, Selling Price, Original Price]
Index: []

In [ ]:
df[(df['Brand']=='OPPO')&(df['Model']=='A16')]
df[(df['Color']=='Obsidian Black')&(df['Brand']=='vivo')]
df[(df['Brand']=='ASUS')&(df['Color']=='Black')]

    Brand                        Model  ... Selling Price Original Price
382  ASUS                 ROG Phone 5   ...       49999.0        55999.0
383  ASUS                 ROG Phone 3   ...       49999.0        57999.0
385  ASUS     Zenfone 2 Laser ZE500KL   ...        7999.0            NaN
386  ASUS                 ROG Phone 3   ...       46999.0        55999.0
390  ASUS                          6Z   ...       35999.0            NaN
391  ASUS          Zenfone Max Pro M1   ...       15599.0            NaN
392  ASUS              Zenfone Go 4.5   ...        5299.0            NaN
393  ASUS              ZenFone Max M2   ...       14999.0            NaN
400  ASUS             ZenFone Lite L1   ...        7199.0            NaN
401  ASUS              ZenFone Max M2   ...       12999.0            NaN
402  ASUS            Zenfone 4 Selfie   ...       10999.0            NaN
406  ASUS                ROG Phone II   ...       40999.0            NaN
407  ASUS                  Zenfone GO   ...        8499.0            NaN
409  ASUS                 ROG Phone 5   ...       57999.0        63999.0
415  ASUS                 ROG Phone 3   ...       57999.0        65999.0
420  ASUS              Zenfone Go 5.0   ...           NaN            NaN
422  ASUS                   Zenfone C   ...        6299.0            NaN
430  ASUS                 Zenfone Max   ...        6990.0            NaN
431  ASUS  Zenfone Go 5.0 LTE 2nd Gen   ...        4999.0            NaN
436  ASUS              Zenfone Go 5.0   ...        4499.0            NaN
440  ASUS              ZenFone Max M1   ...        9599.0            NaN
443  ASUS                         ROG   ...       26499.0        83999.0
444  ASUS              ZenFone Max M1   ...        9599.0            NaN
448  ASUS          Zenfone Max Pro M1   ...       17999.0            NaN
451  ASUS              Zenfone Selfie   ...        9999.0            NaN
462  ASUS                          6Z   ...       43999.0            NaN
465  ASUS                          6Z   ...       38999.0            NaN
466  ASUS             ROG Phone 5 Pro   ...       69999.0        75999.0
467  ASUS                 Zenfone Max   ...        8499.0            NaN
471  ASUS                ROG Phone II   ...       62999.0            NaN
472  ASUS         Zenfone Max ZC550KL   ...        7990.0            NaN
475  ASUS          Zenfone Max Pro M1   ...       13199.0            NaN
483  ASUS                Zenfone Zoom   ...       37999.0            NaN
492  ASUS                 Zenfone Max   ...        6999.0            NaN

[34 rows x 8 columns]

In [ ]:
# to clear the nan values of selling price column

#to know the rows with nan
df[df['Selling Price'].isnull()]

#finding similarity
df[(df['Brand']=='OPPO')&(df['Model']=='A16')]
df[(df['Color']=='Obsidian Black')&(df['Brand']=='vivo')]
df[(df['Brand']=='ASUS')&(df['Color']=='Black')]


#with the above result we'll get the similare datas. hence substituition
df.loc[128,'Selling Price'] = 13990.0
df.loc[2426,'Selling Price'] = 23990.0	
df.loc[420,'Selling Price'] = 4499.0	

#  df.at[df['absences'].argmax(), 'famsize']    --->> this can be used to replace the multiple nan values 
#which is used to automate the index values

In [ ]:
df.isnull().sum()

Brand                0
Model                0
Color              142
Memory              42
Storage             79
Rating               0
Selling Price        0
Original Price    1678
dtype: int64

In [ ]:
# saving the reduced errors file as a file
df.to_csv('reduced error_Flipkart.csv',index=False)
df_1=pd.read_csv('/content/reduced error_Flipkart.csv')
df_1

       Brand      Model            Color  ... Rating Selling Price  Original Price
0       OPPO        A53  Moonlight Black  ...    4.5       11990.0         15990.0
1       OPPO        A53       Mint Cream  ...    4.5       11990.0         15990.0
2       OPPO        A53  Moonlight Black  ...    4.3       13990.0         17990.0
3       OPPO        A53       Mint Cream  ...    4.3       13990.0         17990.0
4       OPPO        A53   Electric Black  ...    4.5       11990.0         15990.0
...      ...        ...              ...  ...    ...           ...             ...
2642  Xiaomi  Redmi Y3          Bold Red  ...    4.3       12999.0         13999.0
2643  Xiaomi  Redmi Y3      Elegant Blue  ...    4.3        9450.0             NaN
2644  Xiaomi  Redmi Y3      Elegant Blue  ...    4.2       12999.0             NaN
2645  Xiaomi  Redmi Y3       Prime Black  ...    4.2        9950.0             NaN
2646  Xiaomi  Redmi Y3       Prime Black  ...    4.3       12499.0         13999.0

[2647 rows x 8 columns]

In [ ]:
df_1=pd.read_csv('/content/reduced error_Flipkart.csv')
df_1

       Brand      Model            Color  ... Rating Selling Price  Original Price
0       OPPO        A53  Moonlight Black  ...    4.5       11990.0         15990.0
1       OPPO        A53       Mint Cream  ...    4.5       11990.0         15990.0
2       OPPO        A53  Moonlight Black  ...    4.3       13990.0         17990.0
3       OPPO        A53       Mint Cream  ...    4.3       13990.0         17990.0
4       OPPO        A53   Electric Black  ...    4.5       11990.0         15990.0
...      ...        ...              ...  ...    ...           ...             ...
2642  Xiaomi  Redmi Y3          Bold Red  ...    4.3       12999.0         13999.0
2643  Xiaomi  Redmi Y3      Elegant Blue  ...    4.3        9450.0             NaN
2644  Xiaomi  Redmi Y3      Elegant Blue  ...    4.2       12999.0             NaN
2645  Xiaomi  Redmi Y3       Prime Black  ...    4.2        9950.0             NaN
2646  Xiaomi  Redmi Y3       Prime Black  ...    4.3       12499.0         13999.0

[2647 rows x 8 columns]

In [ ]:
df[(df['Model']=='106')|(df['Model']=='225')]

      Brand Model Color  ... Rating Selling Price  Original Price
997   Nokia   106   NaN  ...    3.9        1400.0             NaN
1026  Nokia   225   NaN  ...    4.0        3499.0             NaN
1029  Nokia   106   NaN  ...    4.2        1560.0             NaN
1074  Nokia   106   NaN  ...    3.9        1519.0             NaN
1095  Nokia   225   NaN  ...    3.6        3499.0             NaN
1096  Nokia   225   NaN  ...    3.6        3499.0             NaN

[6 rows x 8 columns]

In [ ]:
df[df['Memory'].isnull()]

        Brand                    Model  ... Selling Price Original Price
997     Nokia                      106  ...        1400.0            NaN
1074    Nokia                      106  ...        1519.0            NaN
1095    Nokia                      225  ...        3499.0            NaN
1096    Nokia                      225  ...        3499.0            NaN
1166    Apple       iPhone 12 Pro Max   ...      149900.0            NaN
1207    Apple       iPhone 12 Pro Max   ...      149900.0            NaN
1208    Apple       iPhone 12 Pro Max   ...      149900.0            NaN
1215    Apple       iPhone 12 Pro Max   ...      149900.0            NaN
1219    Apple       iPhone 12 Pro Max   ...      129900.0            NaN
1228    Apple       iPhone 12 Pro Max   ...      129900.0            NaN
1235    Apple       iPhone 12 Pro Max   ...      119900.0            NaN
1237    Apple       iPhone 12 Pro Max   ...      119900.0            NaN
1240    Apple       iPhone 12 Pro Max   ...      119900.0            NaN
1298    Apple       iPhone 12 Pro Max   ...      129900.0            NaN
1299    Apple       iPhone 12 Pro Max   ...      119900.0            NaN
1469    Apple                iPhone 7   ...       74400.0            NaN
1474    Apple       iPhone 12 Pro Max   ...      129900.0            NaN
1494  SAMSUNG                Guru 1200  ...        1200.0            NaN
1579  SAMSUNG             Guru Music 2  ...        1625.0            NaN
1585  SAMSUNG             Guru Music 2  ...        1625.0            NaN
1587  SAMSUNG  Guru FM Plus SM-B110E/D  ...        1375.0            NaN
1588  SAMSUNG             Guru Music 2  ...        1625.0            NaN
1592  SAMSUNG                Guru 1200  ...        1100.0            NaN
1594  SAMSUNG    Guru Music 2 SM-B310E  ...        1890.0            NaN
1595  SAMSUNG             Guru FM Plus  ...        1445.0            NaN
1606  SAMSUNG             Guru FM Plus  ...        1445.0            NaN
1611  SAMSUNG  Guru FM Plus SM-B110E/D  ...        1450.0            NaN
1612  SAMSUNG             Guru Music 2  ...        1450.0            NaN
1721  SAMSUNG               Sm-B110E/D  ...        1599.0            NaN
1730  SAMSUNG                Metro 313  ...        2299.0            NaN
1749  SAMSUNG  Guru FM Plus SM-B110E/D  ...        1448.0         1661.0
1764  SAMSUNG             Guru FM Plus  ...        1435.0            NaN
1796  SAMSUNG             Guru FM Plus  ...        1100.0            NaN
1815  SAMSUNG               Sm-B110E/D  ...        1497.0            NaN
1953  SAMSUNG                Metro 313  ...        1990.0            NaN
1969  SAMSUNG          Metro SM-B313ez  ...        2340.0            NaN
2012  SAMSUNG            GT 1200 R/I/M  ...        1099.0            NaN
2074  SAMSUNG              Guru E1207T  ...        1560.0            NaN
2427     vivo                     Y21   ...       69990.0        74990.0
2430     vivo               Y20A 2021   ...       39990.0        46990.0
2438     vivo               Y20G 2021   ...       29990.0        34990.0
2441     vivo                     Y73   ...       29990.0        32990.0

[42 rows x 8 columns]

In [ ]:
# there are 16 unique brand in this dataset                       --->>   NOKIA
# to replace the nan values to the memory column 

# wrt price alone since the storage coln corresponding to that has the nan values
df.loc[997,'Memory'] =  '4 MB'	
df.loc[1074,'Memory'] = '4 MB'

# wrt storage|price, coz both the colns has the data.
df.loc[1095,'Memory']='8 MB'
df.loc[1096,'Memory']='8 MB'

In [ ]:
df.isnull().sum()

Brand                0
Model                0
Color              142
Memory              38
Storage             79
Rating               0
Selling Price        0
Original Price    1678
dtype: int64

In [ ]:
df['Brand'].nunique()

16

In [ ]:
df['Memory'].replace(np.NaN,0)

0       4 GB
1       4 GB
2       6 GB
3       6 GB
4       4 GB
        ...
2642    4 GB
2643    3 GB
2644    4 GB
2645    3 GB
2646    4 GB
Name: Memory, Length: 2647, dtype: object

In [ ]:
df2=df[(df['Memory']==6)&(df['Brand']=='Apple')]
df2

      Brand               Model  ... Selling Price Original Price
1166  Apple  iPhone 12 Pro Max   ...      149900.0            NaN
1207  Apple  iPhone 12 Pro Max   ...      149900.0            NaN
1208  Apple  iPhone 12 Pro Max   ...      149900.0            NaN
1215  Apple  iPhone 12 Pro Max   ...      149900.0            NaN
1219  Apple  iPhone 12 Pro Max   ...      129900.0            NaN
1228  Apple  iPhone 12 Pro Max   ...      129900.0            NaN
1235  Apple  iPhone 12 Pro Max   ...      119900.0            NaN
1237  Apple  iPhone 12 Pro Max   ...      119900.0            NaN
1240  Apple  iPhone 12 Pro Max   ...      119900.0            NaN
1298  Apple  iPhone 12 Pro Max   ...      129900.0            NaN
1299  Apple  iPhone 12 Pro Max   ...      119900.0            NaN
1469  Apple           iPhone 7   ...       74400.0            NaN
1474  Apple  iPhone 12 Pro Max   ...      129900.0            NaN

[13 rows x 8 columns]

In [ ]:
df[(df['Storage']=='256 GB')&(df['Brand']=='Apple')]

      Brand               Model  ... Selling Price Original Price
1128  Apple      iPhone 13 Pro   ...      129900.0            NaN
1135  Apple          iPhone 12   ...       78999.0        80900.0
1140  Apple          iPhone 12   ...       78999.0        80900.0
1146  Apple          iPhone 13   ...       89900.0            NaN
1152  Apple          iPhone SE   ...       54900.0            NaN
...     ...                 ...  ...           ...            ...
1465  Apple           iPhone 7   ...       74400.0            NaN
1469  Apple           iPhone 7   ...       74400.0            NaN
1474  Apple  iPhone 12 Pro Max   ...      129900.0            NaN
1475  Apple           iPhone X   ...      106900.0            NaN
1478  Apple          iPhone 11   ...       64900.0            NaN

[103 rows x 8 columns]

In [ ]:
df[df[(df['Brand']=='Apple') &(df['Memory'].isnull())]

SyntaxError: ignored

In [ ]:
for index, row in df2.iterrows():
 if (df['Brand']=='Apple') and (df['Memory'].isnull()):
   df.loc[index,df['Memory']]=='value'

ValueError: ignored

In [ ]:
df2

      Brand               Model  ... Selling Price Original Price
1166  Apple  iPhone 12 Pro Max   ...      149900.0            NaN
1207  Apple  iPhone 12 Pro Max   ...      149900.0            NaN
1208  Apple  iPhone 12 Pro Max   ...      149900.0            NaN
1215  Apple  iPhone 12 Pro Max   ...      149900.0            NaN
1219  Apple  iPhone 12 Pro Max   ...      129900.0            NaN
1228  Apple  iPhone 12 Pro Max   ...      129900.0            NaN
1235  Apple  iPhone 12 Pro Max   ...      119900.0            NaN
1237  Apple  iPhone 12 Pro Max   ...      119900.0            NaN
1240  Apple  iPhone 12 Pro Max   ...      119900.0            NaN
1298  Apple  iPhone 12 Pro Max   ...      129900.0            NaN
1299  Apple  iPhone 12 Pro Max   ...      119900.0            NaN
1469  Apple           iPhone 7   ...       74400.0            NaN
1474  Apple  iPhone 12 Pro Max   ...      129900.0            NaN

[13 rows x 8 columns]

In [ ]:
df['Memory']=df['Memory'].fillna(6)

df[(df['Brand']=='Apple')]#(df['Memory']==6)]